html, body, #app, #app>div {
  height: 100%;
}

/* ------------------------------- landing --------------------------------------- */

.landing, .login-page, .register-page, .profile-page{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: '100%';
}

.logo, .app-description, .app-features{
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  font-size: 20px;
  animation: slide-in 1s ease;
}

.logo, .app-description{
  font-size: 40px;
}

.features-line-item{
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
}

.startBtn{
  margin: auto;
  margin-bottom: 50px;
  font-size: 20px;
  animation: slide-in 1s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* ------------------------------- login + register --------------------------------------- */

.input{
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  font-size: 20px;
}

.submitBtn{
  margin: auto;
  font-size: 20px;
}

.errorMsg{
  color: red;
  font-weight: bold;
}

/* ------------------------------- profile --------------------------------------- */



/* ------------------------------- results --------------------------------------- */

.results{
  display: flex;
  flex-wrap: wrap;
}

.resultsLineItem{
  width: 160px;
  height: 300px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.bookCover{
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  height: 60%;
}

.bookInfo{
  margin: auto;
  height: 30%;
  width: 90%;
  margin-bottom: 0;
  padding: 5%;
  background-color: rgb(220,220,240);
  border-top: solid black 1px;
}

.bookTitle{
  font-size: 18px;
}

.bookAuthor{
  font-size: 15px;
}