html, body, #app, #app>div {
  height: 100%;
}

/* -------------------------------Landing--------------------------------------- */

.landing{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: '100%';
}

.logo, .app-description, .app-features{
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  font-size: 20px;
  animation: slide-in 1s ease;
}

.logo, .app-description{
  font-size: 40px;
}

.features-line-item{
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
}

.startBtn{
  margin: auto;
  margin-bottom: 50px;
  font-size: 20px;
  animation: slide-in 1s ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* -------------------------------  --------------------------------------- */