html, body, .App, #root {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contents{
  background-position: center; 
  background-repeat: repeat-y; 
  background-size: cover; 
  background-color: rgb(230,230,250);
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
  z-index: -1;
}

.wrapper {
  display: flex;
  /* height: 100%; */
  width: 100%;
  text-align: center;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.ReactModalPortal{
  position: relative;
  z-index: 5;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

/* ------------------------------- landing --------------------------------------- */

.landing, .login-page, .register-page{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
}

.login-page, .register-page{
  padding: 2% 0 2% 0;
  background-color: rgba(245,245,245,0.95);
  width: 50%;
  border-radius: 15px;
  margin: auto;
  display: flex;
}

.login-form{
  margin: auto;
  width: 90%;
}

.logo{
  top: 0;
  width: 100%;
  padding: 1% 0 1% 0;
  background-color: rgb(230,230,250);
}

.logo-btn-container{
  float: right;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-right: 1%;
}

.logo-btns{
  font-size: 35px;
  margin: auto 1% auto 1%;
  background-color: rgb(235,235,250);
  border-radius: 7px;
  padding: 10px;
}

.logo-btns:hover{
  color: white;
  background-color: rgb(65,65,120);
}



.app-features{
  animation: slide-in 1s ease;
  margin-bottom: 1%;
}

.landing-contents{
  margin: 1% 1% 0 1%;
  width: 60%;
  padding: 2%;
  font-size: 24px;
  background-color: rgba(250,250,250, 0.95);
  border-radius: 10px;
}

.landing-left{
  width: 65%;
  margin: 8% auto 1% 1%;
  padding-top: 1%;
  border-radius: 10px;
  height: 110%;
  overflow: scroll;
}

.landing-right{
  left: 58%;
  top: 20%;
  width: 50%;
  position: fixed;
  margin: auto;
}

.features-line-item{
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
}

/* ------------------------------- login + register --------------------------------------- */

.input{
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  font-size: 20px;
}

.submitBtn{
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: rgb(235,235,250);
  border-radius: 7px;
}

.submitBtn:hover{
  color: white;
  background-color: rgb(65,65,120);
  border-radius: 7px;
}

.errorMsg{
  color: red;
  font-weight: bold;  
}

.loading{
  margin: auto;
}

/* ------------------------------- profile --------------------------------------- */

.profile-page{
  height: 78%;
  position: relative;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-content: space-between;
  /* padding-top: 1%;
  padding-bottom: 1%; */
  margin-top: 10px;
  z-index: 1;
}

.profile-analytics{
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(245,245,245, 0.95);
  border-radius: 10px;
  padding: 2%;
}

.profile-lower{
  display: flex;
  /* height: 15%; */
}

.profile-analytics-left{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.profile-overall-analytics{
  display: flex;
  justify-content: space-between;
}

.profile-overall-analytics-left{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.profile-overall-analytics-right{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
}

.profile-analytics-right{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  background-color:rgb(170,170,190);
  border-radius: 5px;
}

.username{
  font-size: 35px;
  width: 100%;
}

.library-title{
  color: rgb(250,250,250);
  font-size: 25px;
  font-weight: bold;
  margin-top: 2%;
}

.library{
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow:scroll;
  padding: 2% 0 2% 2%;
  margin-bottom: 1%;
}

.profile-booklist{
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.profile-booklist-left{
  width: 45%;
  height: 100%;
}

.profile-booklist-right{
  width: 45%;
  height: 100%;
}

.profile-booklist-line-item{
  border: solid black 1px;
  margin-right: 1%;
  padding-left: 2%;
  background-color: white;
  font-size: 20px;
  pointer-events: none;
}

.profile-booklist-book-title{
  border: solid black 1px;
  margin-right: 1%;
  padding-left: 2%;
  background-color: white;
  font-size: 20px;
  cursor: default;
}

.profile-booklist-book-title:hover{
  background-color: rgb(100,100,100);
  color: whitesmoke;
}

.profileLineItem{
  width: 40%;
  height: 100%;
  border: solid black 1px;
  background-color: white;
  display: flex;
  flex-direction: column; 
  margin: 3%;
  transition: all .25s ease-in-out;
}

.profileLineItem:hover{
  opacity: .6;
}

.library-books{
  margin: auto;
}

.list-view{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logout-btn{
  margin: auto;
  margin-bottom: 1%;
  font-size: 20px;
  width: 10%;
  background-color: rgb(235,235,250);
  border-radius: 7px;
}

.logout-btn:hover{
  color: white;
  background-color: rgb(65,65,120);
  border-radius: 7px;
}

/* ------------------------------- search --------------------------------------- */

.search{
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form{
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.search-input{
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  font-size: 20px;
}

.search-box{
  height: 60px;
}

.search-container{
  display: flex;
  flex-direction: column;
  background-color: rgba(245,245,245, 0.99);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
}

/* ------------------------------- results --------------------------------------- */

.results-page{
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  padding-top: 1%;
}

.results-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(250,250,250, 0.95);
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.results{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin-top: 1%;
}

.results-btn{
  flex: 1;
  margin: auto 1% auto 1%;
  height: 600px;
}

.resultsLineItem{
  width: 180px;
  height: 400px;
  border: solid black 1px;
  display: flex;
  flex-direction: column; 
  margin: 3%;
  transition: all .25s ease-in-out;
  background-color: white;
}

.resultsLineItem:hover{
  opacity: .6;
}

.bookCover{
  margin: auto;
}

.bookInfo{
  margin: auto;
  height: 40%;
  width: 90%;
  margin-bottom: 0;
  padding: 5%;
  background-color: rgb(200,200,230);
  border-top: solid black 1px;
}

.bookTitle{
  font-size: 18px;
  
}

.bookAuthor{
  font-size: 15px;
  font-weight: bold;
}

.bookISBN{
  font-size: 13px;
  margin-top: 4px;
}

.back-btn{
  margin: auto;
  font-size: 20px;
  background-color: rgb(235,235,250);
  border-radius: 7px;
}

.back-btn:hover{
  color: white;
  background-color: rgb(65,65,120);
  border-color: rgb(230,230,230);
  border-radius: 7px;
}

/* ------------------------------- details --------------------------------------- */

.bookDetails{
  display: flex;
  justify-content: space-around;
  height: 90%;
  width: 90%;
  display: flex;
  margin: auto;
}

.bookDetails-left{
  border: solid black 1px;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right:10px;
}

.bookDetails-right{
  width: 60%;
  text-align: left;
  margin-right:10px;
  border: solid black 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.profileDetails-analytics{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.profileDetails-pages{
  height: 50%;
  text-align: center;
}

.chartHint{
  color: black;
  background-color: white;
}

.details-btn{
  width: 35%;
  font-size: 20px;
  margin: auto;
  margin-bottom: 5%;
  background-color: rgb(235,235,250);
  border-radius: 7px;
}

.details-btn:hover{
  color: white;
  background-color: rgb(65,65,120);
  border-radius: 7px;
}

.ReactModal__Content{
  display: flex;
}

.confirmation{
  display: flex;
  margin: auto;
}

.confirmation-contents{
  margin: auto;
}

/* ------------------------------- chart --------------------------------------- */

.rv-xy-plot__inner{  
  margin: auto;
  height: 100%;
  width: 100%;
}

.chart-container{
  width: 100%;
  height: 80%;
  position: relative;
  display: flex;
  margin: auto;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.details-chart-container{
  width: 100%;
  height: 50%;
  position: relative;
}

.chartjs-render-monitor{
  margin: auto;
}

/* ------------------------------- footer --------------------------------------- */

.footer{
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  background-color: rgb(160,160,200);
  padding: 5px;
  padding-top: 10px;
  bottom: 0;
}

.footer-left{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.footer-text{
  margin: auto;
}

.myLinks{
  padding: 5px;
  margin-right: 10px;
}

.myLinks:hover{
  transform: scale(1.3);
}